* {
      margin: 0px;
      padding: 0px;
      font-family: 'Raleway',
            sans-serif;
}

html {
      font-size: 62.5%;
}

body {
      margin: 0px;
      padding: 0px;
      scroll-behavior: smooth;
      font-size: 1.6rem;
}

ul {
      margin: 0px;
      padding: 0px;
}

li {
      list-style: none;
}

span {
      font-size: 1.6rem;
}

h1 {
      font-size: 4.5rem;
}

.contents {
      width: 60%;
      margin-left: auto;
      text-align: center;
      background: linear-gradient(45deg, #10308c, #4369909c);
      padding: 4rem 1.5rem;
      margin-top: 3%;
      margin-right: auto;
}

.contents h1 {
      color: #fff;
      margin-bottom: 3.5rem;
}

.date-container {
      text-align: center;
}

input.date {
      width: 60%;
      padding: .7rem 1.5rem;
      border: none;
}

input.date:focus {
      outline: none;
}

.wrong-value {
      color: red;
      width: 60%;
      text-align: left;
      padding-right: 3rem;
      display: none;
}

form {
      text-align: center;
}

input.submit {
      padding: .5rem 4rem;
      background: #3a3838;
      border-radius: .7rem;
      border: none;
      color: #fff;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2rem;
}

input.submit:hover {
      box-shadow: 1px 1px 1px 1px #020000;
}

input.submit:active {
      font-size: 1.7rem;
}

input.submit:focus {
      outline: none;
}

.set-alarm {
      color: #fff;
      padding: .5rem;
      text-transform: uppercase;
      word-spacing: .5rem;
      font-weight: 600;
      margin: 1.5rem 0rem;
      text-align: left;
      border-bottom: 3px solid #fff;
}

li {
      list-style: none;
      position: relative;
      color: #b1a7a7;
      text-align: left;
      margin-bottom: 1rem;
}

span {
      position: absolute;
      right: 1.5rem;
      transform: rotate(45deg);
      font-size: 2.5rem;
      color: red;
      line-height: 2.5rem;
      opacity: .7;
      cursor: pointer;
  }

span:hover {
      opacity: 1;
}